<div class="container">
    <div class="artist-field">
          <div class="left">
              <img src="{{artist.images[2].url}}" alt="{{artist.name}}" class="photo-artist">
          </div>
              
          <h3 class="artist-label">{{artist.name}}</h3>
          <a class="artist-url" href="{{artist.external_urls.spotify}}">Pagina del artista</a>
      </div>
      <table class="table artist-table">
          <thead>
            <tr>
              <th scope="col" style="color: azure">Foto</th>
              <th scope="col" style="color: azure">Album</th>
              <th scope="col" style="color: azure">Cancion</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let track of topTracks">
              <th scope="row">
                <img src="{{track.album.images[2].url}}" alt="{{track.album.name}}">
              </th>
              <td style="color: azure">{{track.album.name}}</td>
              <td style="color: azure">{{track.name}}</td>
            </tr>
          </tbody>
        </table>
    </div>

